<launch>

	<!--hokuyo node -->
	<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" output="screen"/>

	<!--convert_cloud_node-->
	<node name="convert_cloud_node" pkg="filtering" type="convert_cloud_node" output="screen" />

	<!--calc_position_node-->
	<node name="calc_position_node" pkg="pcl_extraction" type="calc_position_node" output="screen" />
</launch>
